/* 基本样式 */
:root {
    --about-color: #1e1e2f;
    --header-color: #2c3e50;
    --primary-color: #3498db;
    --secondary-color: #ecf0f1;
    --font-primary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--about-color);
}

header {
    background: var(--header-color); /* 修改背景颜色 */
    color: #fff;
    padding: 20px 0; /* 增加内边距 */
    /* text-align: center; */
    /* height: 10%; */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: flex-end; 
}

nav ul li {
    margin: 0 15px; /* 增加间距 */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* 增加字体大小 */
    transition: color 0.3s; /* 添加过渡效果 */
}

nav ul li a:hover {
    color: var(--primary-color); /* 鼠标悬停时的颜色 */
}

section {
    padding: 40px;
    margin: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about {
    position: relative;
    height: 100%; /* 修改高度为自动 */
    background-color: var(--about-color);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 修改对齐方式为顶部对齐 */
    flex-direction: column;
    margin: 0;
    /* overflow: hidden; */
    padding-bottom: 20px; /* 添加底部内边距 */
}

#about .bg-images {
    position: absolute; /* 修改为绝对定位 */
    bottom: 0; /* 调整背景图片位置到文字下方 */
    left: 0;
    width: 100%; /* 修改宽度为100% */
    height: 100px; /* 设置固定高度 */
    background-image: url('res/img/image1.jpg'), url('res/img/image2.jpg'), url('res/img/image3.jpg'), url('res/img/image4.jpg');
    background-size: cover; /* 修改背景图片大小 */
    background-repeat: no-repeat;
    background-position: 0% 0%;
    animation: slide 40s infinite; /* 4 images * 10s each */
    z-index : 2;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: -100% 0%;
    }
    50% {
        background-position: -200% 0%;
    }
    75% {
        background-position: -300% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.about-me {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.about-more {
    font-size: 30px;
    color: var(--primary-color);
    display: block;
}

#projects {
    /* width: 100%; */
    height: auto; /* 修改高度为自动 */
    background-color: var(--secondary-color); /* 修改背景颜色为浅灰色 */
    padding: 40px 20px; /* 增加内边距 */
    text-align: center; /* 内容居中 */
    margin : 0;
}

#projects h2 {
    margin-bottom: 20px; /* 增加段落之间的间距 */
    color: var(--primary-color);
}

#projects p {
    margin: 0 20%; /* 增加左右外边距，使文字宽度适中 */
    line-height: 1.8; /* 增加行高 */
    color: var(--about-color);
}

#contact{
    margin : 0;
    border : 1px solid rgb(0, 255, 255);
    border-radius : 5%
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}